.container-task {
    position: absolute;
    margin-left: 10%;
    height: 100%;
    width: 100%;
}

.container-task-filter {
    width: calc(100% - 10px);
    border-left: 10px solid #4dabf7;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    margin-top: 10px;
}

.container-task-filter__title {
    margin-left: 10px;
}

.container-task-filter__buttons {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.container-task-filter__button{
    padding: 5px;
    width: 90px;
    background-color: #fff;
    border: 1px solid #4dabf7;
    color: #4dabf7;
    border-radius: 7px;
    transition: 0.2s;
}

.container-task-filter__button:hover{
    cursor: pointer;
    
}

.container-task-filter__button:focus{
    background-color: #74c0fc;
    color: #fff;
}