:root {
    --main-color: #ffffff;
    --second-color: #111111;
    --contrast-color: #1681fd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 90%;
    margin: 0 auto;
    height: 150px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(3 3 3 / 0.4);
}

.header__user-name {
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--contrast-color);
    font-weight: 500;
}

.header__user-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 4px 9px rgb(0 0 0 / 0.4);
    background-color: transparent;
    object-fit: cover;
}

.header__time {
    font-size: 1.6rem;
    color: var(--second-color);
    font-weight: 500;
}

.header__time--identifier {
    font-weight: 300;
    letter-spacing: 3px;
}

.section {
    width: 90%;
    height: 530px;
    margin: 0 auto;
    padding: 40px 25px;

}