:root {
    --main-color: #ffffff;
    --second-color: #111111;
    --contrast-color: #1681fd;
}

.container {
    position: absolute;
    left: 0;
    height: 100%;
    width: 10%;
}

ion-icon {
    font-size: 30px;
    color: var(--second-color);
    transition: all .1s linear;
    transform: rotate(90deg);
}

ion-icon:hover {
    cursor: pointer;
}

.project__card__container {
    margin-bottom: 5px;
    overflow: hidden;
}

.project__card__img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    animation: movementAtDisplay .5s linear;
    animation-fill-mode: forwards;
}

.project__card__img:hover {
    cursor: pointer;
}

/* Animations */
@keyframes movementAtDisplay {
    25% {
        transform: translateX(50%) scale(0.6,1.2);
    }
    50% {
        transform: translateX(50%) scale(1,1);
    } 
    75% {
        transform: translateX(50%) scale(1,1.1);
    }
    100% {
        transform: translateX(50%) scale(1,1);
    }
}

@keyframes movementAtDisappear {
    from {
        transform: scale(1,1) translateX(50%);
    }
    to {
        transform: scale(1,1) translateX(-200%);
    }
}