.Navbar {
    height: 12%;
    display: flex;
    align-items: center;
    background: #495057;
    padding-left: 10px;
    justify-content: space-between;
}

.user-container {
    display: flex;
    align-items: center;
    height: 100%;
}


.user-container__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0.5px solid #fff;
}

.user-container__data {

}

.user-container__data > h1 {
    font-size: 1.5rem;
    color: rgb(238, 210, 210);
    padding: 5px;
}

.user-container__data > p {
    font-size: 0.9rem;
    color: rgb(172, 169, 169);
    padding: 5px;
    margin-top: -30px;
}

.user-container__icon {
    font-size: 1rem;
    color: rgb(238, 210, 210);
}

.user-container__icon :hover{
    cursor: pointer;
}

.searchBar-container {
    height: 50px;
    flex: 1;
    display: flex;
    border-radius: 50px;
    align-items: center;
    background: rgb(224, 223, 223);
    margin: 30px;
}

.searchBar-container__input {
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    color: black;
    font-size: 16px;
}

.project-title {
    font-size: 1.5rem;
    color: rgb(238, 230, 230);
    padding: 5px;
    margin-right: 15px;
}

.user-container__modal {
    width: 200px;
    height: 90px;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    box-shadow: 7px 0px 14px 5px rgba(0,0,0,0.15);
    margin-top: 120px;
    margin-left: 130px;
    z-index: 1000;
    display: none;
}

.modal-options-container {
    padding: 0px;
    margin-top: 0px;
    display: flex 1;
}

.modal__options {
    list-style: none;
    border-bottom: 1px solid #495057;
    padding: 5px;
    transition: 0.3s;
}

.modal__options:hover {
    cursor: pointer;
    background-color: #495057;
    box-shadow: -5px 3px 0px 1px #000000;
    color: white;
    margin-left: 5px;
}