.dashboard-container{
    width: 20%;
    height: 40%;
    position: absolute;
    right: 2%;
    top: 20%;
    border-radius: 10px;
    animation: floatt 6s ease-in-out infinite;
    background-color: #fff;
    display: flex;
    overflow-y: scroll;
}

.dashboard-container-user {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-container-user__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 5%;
    transition: 0.3s;
}

.dashboard-container-user__img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.dashboard-container-user-icon {
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 1px solid #495057;
    margin-top: 7px;
    transition: 0.3s;
    margin-left: 10px;
}

.dashboard-container-user-add-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.dashboard-container-user-icon:hover {
    cursor: pointer;
    border-radius: 25%;
    background-color: #495057;
    color: white;
}

/*ANIMATIONS*/

@keyframes floatt {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
} 