* {
  font-family: sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
}

.projects-task-grid {
  display: grid;
  grid-template-columns: 8% 92%;
  grid-template-rows: 100%;
  width: 90%;
  height: 88%;
  position: relative;
  margin: 0;
}

/*Modal styles*/
.user-options-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-options__picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.user-options__picture:hover {
  cursor: pointer;
}

.user-options-input > label {
  font-size: 1rem;
  color: black;
  padding: 5px;
  font-weight: 600;
}

.user-options-input > input {
  width: 300px;
  height: 25px;
  border-radius: 3px;
  border: 0.5px solid #495057;
  padding: 2px;
  margin-top: 5px;
  transition: 0.3s;
}

.user-options-input > input:focus {
  outline: none;
}

.modal-user-options__button {
  width: 20%;
  height: 30px;
  border-radius: 5px;
  border: 0.5px solid #fff;
  background-color: #495057;
  color: white;
  font-size: 1rem;
  margin-top: 10px;
  transition: 0.3s;
}

.modal-user-options__button:hover {
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  background-color: #fff;
  color: black;
  width: 30%;
}